.navbar {
  display: block;
  position: fixed;
  top: 0;
  right: -320px;
  transition: right 0.3s ease-in;
  z-index: 10;
  width: 320px;
  height: 100vh;
  background-color: black;
  color: white;
  padding: 15px 0;
  opacity: 0;
  transform: scale(0);

  &__icon-wrapper {
    width: 100%;
    text-align: right;
    padding-right: 10px;
  }

  &__close-icon {
    font-size: 32px;
    cursor: pointer;
  }

  &__list-wrapper {
    width: calc(100% - 50px);
    height: auto;
    margin: 20px auto;
  }

  &__list-item {
    width: 100%;
    height: auto;
    padding: 20px 0;
    border-bottom: 1px solid rgba(219, 219, 219, 0.26);
    font-size: 18px;
    color: white;
    cursor: pointer;
  }

  &.opened {
    right: 0;
    opacity: 1;
    transform: scale(1);
    transition: right 0.3s ease-in;
  }
}
