@import "../../common-css/mixins";

.category-list {
  width: 100%;
  height: auto;
  margin-top: 10px;

  &__wrapper {
    margin-top: 30px;
  }

  &__name-wrapper {
    @include name-wrapper(".category-list");
  }

  &__item {
    width: 100%;
    height: 46px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(180, 178, 178, 0.397);
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    transition: color 0.2s ease-in-out;

    &:hover {
      transition: color 0.2s ease-in-out;
      color: #ee4266;

      p {
        transition: color 0.2s ease-in-out;
        color: #ee4266;
      }
    }

    p {
      font-size: 14px;
      color: #97989b;
      transition: color 0.2s ease-in-out;
    }
  }
}
