@import "../../common-css/mixins";

.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  height: 150px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: filter 0.4s ease-in-out;

  &:hover {
    filter: brightness(1.1);
    transition: filter 0.4s ease-in-out;
  }

  &__name-wrapper {
    @include name-wrapper(".social-media");
  }

  &__logo {
    font-size: 30px;
  }

  &--facebook {
    flex: 1;
    background-color: #225b99;
  }

  &--twitter {
    flex: 1;
    background-color: #00adf2;
  }

  &--google-plus {
    flex: 1;
    background-color: #dc4d2d;
  }

  &__wrapper {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
