@import "../../common-css/mixins";

.footer {
  color: #97989b;
  background: #1b1c1e;

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    @include media(tablet) {
      padding: 50px 0;
    }
  }

  &__list-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-direction: column;

    @include media(tablet) {
      flex-direction: row;
    }
  }

  &__list-item {
    a {
      padding: 10px;
      display: block;
      width: 100%;
      color: #97989b;
    }
  }
}
