.form {
  width: 100%;
  margin-bottom: 100px;
  
  &__group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    margin-bottom: 10px;
  }

  &__input,
  &__textarea,
  &__select {
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
  }

  &__button {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    background-color: #00a8ff;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
  }
}
